body {
    font-family: 'Noto Serif', serif;
    background-image: url(../src/img/Background-Blue-Light.jpg);
    color: white;

}
h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}h2{
    font-size: 18px;
    text-align: center;
    color: white;
}

h3 {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    font-family: 'Satisfy', cursive;
    background-color: #f5002d;
    border: 1px solid black;
 

}
.parrafo{
    font-size: 20px;
    text-align: center;
}
img{
    width:250px;
    height:150px;
    display:block;
    margin:auto;
}
hr{
    border:2px solid #f5002d;

}
.btn{
    border: 3px solid #f5002d;
    background: #f5002d;
    color: #ffffff;
    border-radius: 10px;
}
form{
    text-align: center;
}
#resultado{
    /*border: solid #F8DB00; */
    background: white;
    color: black;
    width: 50%;
    margin-left: 25%;
}
#mensaje{
border: #232323;
width: 50%;
border-radius: 10px;
color: #ffffff;
font-size: 18px;
}

#desplazamientos{
    border-radius: 5px;
    background-color: white;
    font-size: 18px;
}